.focus-header {
    background: var(--sidebar-bg-gradient-color);
    border-bottom: 1px solid var(--panel-border-color);
}

.focus-footer {
    background: var(--sidebar-bg-gradient-color);
    border-top: 1px solid var(--panel-border-color);
    display: flex;
    justify-content: space-between;
    width: 100%;
}
