/* Tabs */

.tab-header {
  display: flex;
  gap: 6px;
  justify-content: center;
  flex-wrap: wrap;
}

.tab-button {
  padding: 4px 16px;
  color: var(--secondary-text-color);
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  border-bottom: 3px solid transparent;
}

.tab-button.active {
  font-weight: bold;
  padding-bottom: 4px;
  color: var(--text-color);
  border-bottom: 3px solid var(--accent-color);
  background: var(--tab-active-bg-color);
}
