/* Dark Graphite Theme */
.theme-dark-graphite {
  --bg-color: #1a1a1c;
  --sidebar-bg-color: #1f1f22;
  --sidebar-bg-gradient-color: #423622;
  --card-bg-color: #232326;
  --border-color: #303033;

  --text-color: #e6dfd3;
  --secondary-text-color: #9c9ca3;

  --code-bg-color: #2a2a2d;
  --code-text-color: #f2e9d8;

  --accent-color-rgb: 255 176 59;
  --danger-color: #ff6d6d;
  --danger-background-color: #513a3c;

  --button-primary-text-color: #1a1a1c;
  --button-border-color: #45454a;
  --button-bg-color: #ffb03b;
  --button-secondary-bg-color: #2b2b2f;

  --error-text-color: #ffb3b3;
  --error-bg-color: #432020;

  --shadow-soft-color: rgba(0, 0, 0, 0.75);
  --modal-overlay-color: rgba(0, 0, 0, 0.35);

  --tab-active-bg-color: #2b2b2f;
  --panel-border-color: var(--border-color);

  --chip-border-color: #3c3c40;
  --chip-background-color: #2a2a2d;

  --post-expression-background-color: #232326;
  --post-expression-playing-background-color: #2a2a2d;
  --post-expression-overlay-color: rgba(0, 0, 0, 0.35);

  --warning-color: #a16307;
  --success-color: #07810b;
}
